#p_teste{
          font-family: 'Courier New', Courier, monospace;
          font-size: 20mm;
          font-style: italic;
          font-weight: bold;
          color: orangered;
}
.FELIPE{
          font-style: italic;
          font-size: 10em;
          border-bottom: solid;
}
#div1{
          background-color: red;
          width: 500px;
}
#div2{
          background-color: black;
          color: white;
          width: 500px;
}